@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.p-4 {
  padding: 0;
}

ol, ul, menu {
  list-style: disc  ;
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

*{
  color: white;
}


.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  margin-left: 0 !important; /* Para asegurarte de que el margen izquierdo se elimine */
}

.pb-20 {
  padding-bottom: 5rem;
}

.gap-16 {
  gap: 0;
}

html, body {
  height: 100%;
}



